body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body:not(.is-mobile) ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  border-radius: 24px; }

body:not(.is-mobile) ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0); }

.flex-container {
  display: flex; }

.navbar {
  color: #fff;
  background-color: rgba(30, 30, 30, 0.95);
  width: 256px;
  min-width: 256px;
  max-width: 256px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
  z-index: 10; }

.flex-item {
  flex: 1; }

.full-height {
  height: 100vh; }

.flex-column {
  flex-direction: column; }

.content {
  overflow: hidden; }
